/*
    Created on : 26.05.2015, 15:59:58
    Author     : Mihail Kornilov <fix-06 at yandex.ru>
*/

.collapse-open,
.collapse-close {
	display: block;
	height: 40px;
	border: 1px solid #ccc;
	text-align: center;
	font-weight: bold;
	margin: 5px 0;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
}

.collapse-close span,
.collapse-open span {
	display: block;
	float: right;
	width: 30px;
	height: 20px;
}

.collapse-close {
	background-color: #eee;
}

.collapse-close span {
	background: url("plus.png") no-repeat center;
}

.collapse-open span {
	background: url("minus.png") no-repeat center;
}

.collapse-open {
	background-color: #444;
	color: #fff;
}
